@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
body{
    background-image: url("coraçao.png");
}

h1{
   font-family: Poetsen One;
   text-align: center;
   font-size: 60px;
   color:mediumpurple;
}