div{
    justify-content: flex-end;
    display: flex;
    border: 5px solid indigo;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    color: darkslateblue;
    background-color: oldlace;
}

#sukuna{
    justify-content: center;
    display: flex;
    border: 5px solid indigo;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    color: darkslateblue;
    background-color: oldlace;
}

#kenjaku{
    justify-content: space-between;
    display: flex;
    border: 5px solid indigo;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    color: darkslateblue;
    background-color: oldlace;
}
#mahito{
    justify-content: space-around;
    display: flex;
    border: 5px solid indigo;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    color: darkslateblue;
    background-color: oldlace;
}

#jogo{
    justify-content:space-evenly;
    border: 5px solid indigo;
    width: 250px;
    height: 250px;
    border-radius: 50px;
    color: darkslateblue;
    background-color: oldlace;
}

body{
    display: flex;
    background-color: rgb(125, 108, 160);
} 
