*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

}
h1{
    color: white;
}
body{
    font-family:'Times New Roman', Times, serif;
}
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: hotpink;
    padding: 20px 60px;
}
.menu ul{

    display: flex;
    gap: 42px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    margin: 70px auto;
}
.menu ul li a{
    color: white;
    font-size: 22px;
}
.menu ul li a:hover{
        color: white;
}
.menu ul li:hover{
        background-color: hotpink;
}

.menucelular{
    display: none;
}

@media (max-width: 767px){
       header{
        background-color: pink;
       }

       .menu.adicionar_Classe_Ao_Clicar{
        height: 400px;
        transition: 1s;
       }
       
       .menu{
      height: 0;
      position: absolute;
      top: 77px;
      left: 0;
      width: 100%;
      background-color: pink;
      transition: 1.5s;
       }


       .menu ul{
       
        
       }

       .menucelular .linha{
            width: 26px;
            height: 3px;
            background-color: white;
            margin: 6px 0;
            background-color: white;
            transition: all 0.3s ease;

       }
       
       .menucelular{
        display: block;
        cursor: pointer;
       }

}