@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
body{
    background-color:rgb(166, 154, 247);
}
h1{
    text-align: center;
    font-size: 100px;
    color:rgb(82, 17, 126);
    font-family: Poetsen One;
}