@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
body{
    background-image: url('flor.png');
}
h1{
    text-align: center;
    font-size: 30px;
    color:rgb(58, 6, 94);
    font-family: Poetsen One;
    border: 4px solid rgb(58, 6, 94);
    border-radius: 700px;

}