@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
img{
    padding: 50px;
    filter: drop-shadow(6px 6px 6px white);
}

body{
    text-align: center;
    background-image:url(https://wallpapers.com/images/hd/nana-anime-pink-6p5qh80qqly7et1v.jpg);
    color: rgb(248, 20, 134);
}

h1{
    text-align: center;
    font-family:Bebas Neue;
    
}
form{
    display: flex;
    width: 600px;
    margin: 0 auto;
    flex-direction: column;
    gap: 16px;
    font-family: Bebas Neue;
    background-color: rgb(248, 9, 128);
    border: 10px solid rgb(243, 10, 127);
    border-radius: 40px;
    color: white;
    box-shadow: 5px 5px 5px white;

}
impu{
    padding: 14px 8px;
    border-radius: 6px;
    border: 1px solid white;
}  
button{
    padding: 8px 4px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    background-color: rgb(192, 19, 106);
    font-family: Bebas Neue;
    size: 30px;
    box-shadow: 5px 5px 5px white;
}
button:hover{
    background-color:rgb(158, 99, 236) ;
}
#nana{
    border-radius: 30px;
}